 /* Global Styles */
* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

body{
    background-color:  #ede5e2;
}

/* HTML Element Styles */

h1{
    text-align: center;
    font-size: 3.85em;
    font-weight: 900;
    color:  #f6c42b;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

h4{
    text-align: center;
    font-size: 1.0em;
    font-weight: normal;
    color:  #f6c42b;
}

h3{
    text-align: center;
    font-size: 1.0em;
    font-weight: normal;
    color:  #f6c42b;
}

h2.navSection{
    font-size: 1.5em;
    font-weight: bold;
    color:  #1f3c0d;
}


p{
    font-size: 1.125em;
    font-weight: bold;
    color: #1f3c0d;
    font-family: 'Ubuntu';
}

/*Page Nav Bar + Title Section*/
p.headerLabel{
    text-transform: uppercase;
    padding-top:0px;
    margin-top: 5px;
    font-weight: bolder;
    margin-left: 15%;
}

button.navHeaderBtn{
    height: 30px;
    border-style: solid;
    border-color: #1f3c0d;
    border-width: thick;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    min-width: 185px;
    font-weight: bold;
    text-align: center;
    color: #1f3c0d;
    background-color: #ede5e2;
}

button.navHeaderBtn:hover{
    background-color: #1f3c0d;
    color:  #f6c42b;
}

div.headerSection{
    background-color: #424341;
    background-image: url("../img/Splash-Screen_Grid-pattern_Background.png");
    min-height: 150px;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 10%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 75%;
}

div.imgSplashSection{
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

div.headerTextSection{
    width: 100%;
}

hr.headerRule{
    border: 2px solid;
    border-color: #f6c42b;
    width: 50%;
    display:grid;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.sectionRule{
    border: 2px solid;
    width: 75%;
    border-color: #1f3c0d;
    display:grid;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
}


img.splashImg{
    margin-bottom: 20px;
}

div.navSection{
    background-color:  #ede5e2;
    min-height: 50px;
    position:static;
}

div.introSection{
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 10%
}

/* Project Tiles Panel Styles*/
div.projectSection{
    background-color: #abaaa6;
    width: 100%;
    height: 600px;
}

div.projectListPanel{
    width: 100%;
    height: 550px;
    padding-right: 0px;
    margin-right: 0px;
}

div.panelRow0{
    width: 100%;
    padding-left: 10%;
    min-height: 25%;
    height: 75%;
}

div.panelRow1{
    width: 100%;
    padding-left: 10%;
    min-height: 25%;
    height: 25%;
}

div.projectCellLarge{
    background-color: #424341;
    max-width: 360px;
    min-height: 50px;
    width: 33%;
    height: 75%
    max-height: 350px;
}

div.projectCellSmall{
    background-color: #424341;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    padding: 0px;
    border: 0px;
}

/*dynamic tile elements*/
.tileOverlay{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #60424341;
    cursor: pointer;
}

.tileTitleCard{
    position: fixed;
    display: none;
    width: 100%;
    height: 35%;
}
