 /* Global Styles */
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    background-color:  #ede5e2;
}

/* HTML Element Styles */

h1{
    text-align: center;
    font-size: 3.75em;
    font-weight: bold;
    color:  #f6c42b;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color:  #f6c42b;
}

h2.navSection{
    font-size: 1.5em;
    font-weight: bold;
    color:  #1f3c0d;
}


p{
    font-size: 1.125em;
    font-weight: normal;
}

div.headerSection{
    background-color: #424341;
    background-image: url("../img/Splash-Screen_Grid-pattern_Background.png");
    min-height: 150px;
    width: 100%;
    padding-top: 35%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 95%;
}

div.navSection{
    background-color:  #ede5e2;
    min-height: 50px;
    position:static;
}
